<!-- Intro -->
<div id="index-banner" class="parallax-container">
  <div class="section">
    <div class="container">
      <div class="row center">
        <div class="col s12">
          <h1 class="header center" id="main-title">Mongo Scraper </h1>
          <h3 class="header" id="subtitle">Find and save your favorite articles from goop.com here</h3>
          <br>
        </div>
      </div>
    </div>
  </div>
  <!-- Parallax Image -->
  <div class="parallax"><img src="/public/images/thought-catalog-580669-unsplash.jpg" alt="article photo"></div>
</div>
<!-- Container -->
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12">
        <h4 class="center comfortaa bold">Scraped Articles</h4>
        <br>
        <div class="row">
          <!-- Articles -->
          {{#each data}}
           <div class="col s12 m12">
           <ul class="collection">
    <li class="collection-item avatar">
      <i class="material-icons circle">folder</i>
      <span class="title">{{this.title}}</span>
      <p class="summary">{{this.summary}}</p> <br>
       <a class="url" href="{{this.link}}" class="secondary-content"></a>
    </li>
    </ul>
    </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>